<table class="market-segments" *ngIf="step < 3">
  <thead>
    <tr>
      <th>
        <div *ngIf="step === 1">Enter segment name</div>
      </th>
      <th *ngIf="step < 3" [class.inactive]="step > 1">
        <div>What industries do your customers belong to?</div>
        <div class="example" *ngIf="step === 1">Healthcare, education, insurance, corporate, manufacturing, etc.</div>
      </th>
      <th *ngIf="step < 3" [class.inactive]="step > 1">
        What are their pain points?
      </th>
      <th *ngIf="step > 1">
        Brainstorm criteria for your ICP
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let segment of activeSegments; index as i;">
      <td class="segment-label">
        <ice
          placeholder="Segment {{ segment }}"
          [hideChanges]="hideChanges"
          [user]="me"
          [disabled]="disabled || step > 1"
          (changed)="contentChanged($event)"
          [(data)]="inputs['segment_criteria_define_name_' + segment]"
        ></ice>

        <div *ngIf="step === 1 && activeSegments.length > 1">
          <a (click)="removeSegment(i)" class="add-rem">REMOVE segment</a>
        </div>
      </td>
      <td *ngIf="step < 3">
        <ice
          class="ice-textarea"
          [hideChanges]="hideChanges"
          [user]="me"
          [disabled]="disabled || step > 1"
          (changed)="contentChanged($event)"
          [(data)]="inputs['segment_criteria_define_industries_' + segment]"
        ></ice>
      </td>
      <td *ngIf="step < 3">
        <ice
          class="ice-textarea"
          [hideChanges]="hideChanges"
          [user]="me"
          [disabled]="disabled || step > 1"
          (changed)="contentChanged($event)"
          [(data)]="inputs['segment_criteria_define_pain_points_' + segment]"
        ></ice>
      </td>
      <td *ngIf="step > 1">
        <ice
          class="ice-textarea"
          [hideChanges]="hideChanges"
          [user]="me"
          [disabled]="disabled || step > 2"
          (changed)="contentChanged($event)"
          [(data)]="inputs['segment_criteria_define_brainstorm_' + segment]"
        ></ice>
      </td>
    </tr>
    <tr *ngIf="step === 1">
      <td>
        <a (click)="addSegment()" class="add-rem">ADD market segment</a>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="template-instructions"
  [innerHtml]="contentData.instructions | safehtml"
  *ngIf="contentData.instructions"
></div>

<div *ngIf="step === 3">
  <div class="segment-container" *ngFor="let segment of activeSegments">
    <h2 inputText="name" [num]="segment"></h2>

    <div inputText="brainstorm" [num]="segment"></div>

    <div class="container-fluid">
      <div class="row criterias">
        <div class="col-sm-1 propensitity">
          Propensity to buy criteria
        </div>
        <div class="col-sm-2" *ngFor="let criteria of criterias[segment]; index as i;">
          <div class="input-circle">
            <ice
              [hideChanges]="hideChanges"
              [user]="me"
              [disabled]="disabled || step > 3"
              (changed)="syncCriteria(segment)"
              [(data)]="criteria.name"
              class="side-comment"
            ></ice>
          </div>
          <ice
            [hideChanges]="hideChanges"
            [user]="me"
            [disabled]="disabled || step > 3"
            (changed)="syncCriteria(segment)"
            [(data)]="criteria.description"
            class="criteria-description"
          ></ice>

          <a *ngIf="criterias[segment].length > 3" (click)="removeCriteria(segment, i)" class="add-rem">REMOVE criteria</a>
        </div>
        <div class="col-sm-2 add-criteria" *ngIf="criterias[segment].length < 5">
          <a (click)="addCriteria(segment)" class="add-rem">ADD criteria</a>
        </div>
      </div>
    </div>

    <div>Where and how will you mine the necessary data to support your decision?</div>
    <ice
      class="ice-textarea"
      [hideChanges]="hideChanges"
      [user]="me"
      [disabled]="disabled || step > 3"
      (changed)="contentChanged($event)"
      [(data)]="inputs['segment_criteria_define_where_mine_' + segment]"
    ></ice>

  </div>
</div>

<div *ngIf="step === 4">
  <div class="segment-container" *ngFor="let segment of activeSegments">
    <h2 inputText="name" [num]="segment"></h2>

    <div class="container-fluid" *ngIf="criterias">
      <div class="row criterias" [class.compact]="criterias[segment].length === 5">
        <div class="col-sm-1 propensitity">
          Propensity to buy criteria
        </div>
        <div class="col-sm-2" *ngFor="let criteria of criterias[segment]; index as i;">
          <div class="input-circle">
            <div class="circle-container">
              <span [inputText]="criteria.name"></span>
            </div>
          </div>
          <div class="input-circle grey-circle">
            <div class="circle-container">
              <input type="number" min="1" max="100" [(ngModel)]="criteria.weight" (ngModelChange)="syncCriteria(segment)" [disabled]="disabled" />
              <input type="range" min="1" max="100" [(ngModel)]="criteria.weight" (ngModelChange)="syncCriteria(segment)" *ngIf="!disabled" />
            </div>
          </div>

          <div [inputText]="criteria.description"></div>
        </div>
        <div class="col-sm-2 total-score" *ngLet="pointsSum(criterias[segment]) as sum">
          <ng-container *ngLet="allWeightsSelected(criterias[segment]) as allSelected;">
            <div class="input-circle">
              <div class="circle-container">
                TOTAL<br />SCORE
              </div>
            </div>
            <div class="input-circle grey-circle" [class.complete]="sum === 100">
              <div class="circle-container">
                <span *ngIf="sum !== 100">{{ sum }}/100 POINTS</span>
                <span *ngIf="sum === 100">100<br />POINTS</span>
              </div>
            </div>

            <div *ngIf="allSelected && (sum !== 100)">
              <strong>{{ sum }}</strong> points selected.
            </div>
            <div *ngIf="!allSelected">Select a weight score for <strong>all criteria.</strong></div>
            <div *ngIf="allSelected && sum < 100"><strong>Increase</strong> the weight for some criteria to arrive at exactly 100 total points.</div>
            <div *ngIf="allSelected && sum > 100"><strong>Decrease</strong> the weight for some criteria to arrive at exactly 100 total points.</div>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</div>

<module-nav *ngIf="!disabled" [step]="data" [action]="action"></module-nav>
