<table class="market-segments" *ngIf="step < 3">
  <thead>
    <tr>
      <th>
        <div *ngIf="step === 1">Enter segment name</div>
      </th>
      <th *ngIf="step < 3" [class.inactive]="step > 1">
        <div>What industries do your customers belong to?</div>
        <div class="example" *ngIf="step === 1">Healthcare, education, insurance, corporate, manufacturing, etc.</div>
      </th>
      <th *ngIf="step < 3" [class.inactive]="step > 1">
        What are their pain points?
      </th>
      <th *ngIf="step > 1">
        Brainstorm criteria for your ICP
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let segment of activeSegments; index as i;">
      <td class="segment-label">
        <ice
          placeholder="Segment {{ segment }}"
          [hideChanges]="hideChanges"
          [user]="me"
          [disabled]="disabled || step > 1"
          (changed)="contentChanged($event)"
          [(data)]="inputs['segment_criteria_define_name_' + segment]"
        ></ice>

        <div *ngIf="step === 1 && activeSegments.length > 1">
          <a (click)="removeSegment(i)" class="add-rem">REMOVE segment</a>
        </div>
      </td>
      <td *ngIf="step < 3">
        <ice
          class="ice-textarea"
          [hideChanges]="hideChanges"
          [user]="me"
          [disabled]="disabled || step > 1"
          (changed)="contentChanged($event)"
          [(data)]="inputs['segment_criteria_define_industries_' + segment]"
        ></ice>
      </td>
      <td *ngIf="step < 3">
        <ice
          class="ice-textarea"
          [hideChanges]="hideChanges"
          [user]="me"
          [disabled]="disabled || step > 1"
          (changed)="contentChanged($event)"
          [(data)]="inputs['segment_criteria_define_pain_points_' + segment]"
        ></ice>
      </td>
      <td *ngIf="step > 1">
        <ice
          class="ice-textarea"
          [hideChanges]="hideChanges"
          [user]="me"
          [disabled]="disabled || step > 2"
          (changed)="contentChanged($event)"
          [(data)]="inputs['segment_criteria_define_brainstorm_' + segment]"
        ></ice>
      </td>
    </tr>
    <tr *ngIf="step === 1">
      <td>
        <a (click)="addSegment()" class="add-rem">ADD market segment</a>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="template-instructions"
  [innerHtml]="contentData.instructions | safehtml"
  *ngIf="contentData.instructions"
></div>

<div *ngIf="step === 3">
  <div class="segment-container" *ngFor="let segment of activeSegments">
    <h2 inputText="name" [num]="segment"></h2>

    <div inputText="brainstorm" [num]="segment"></div>

    <app-icp-input
      [criterias]="criterias[segment]"
      [inputIndex]="segment"
      mode="criteria"
    ></app-icp-input>

    <div>Where and how will you mine the necessary data to support your decision?</div>
    <ice
      class="ice-textarea"
      [hideChanges]="hideChanges"
      [user]="me"
      [disabled]="disabled || step > 3"
      (changed)="contentChanged($event)"
      [(data)]="inputs['segment_criteria_define_where_mine_' + segment]"
    ></ice>

  </div>
</div>

<div *ngIf="step === 4 || step === 5">
  <div class="segment-container" *ngFor="let segment of activeSegments">
    <h2 inputText="name" [num]="segment"></h2>

    <app-icp-input
      [criterias]="criterias[segment]"
      [inputIndex]="segment"
      mode="weight"
      [review]="step === 5"
    ></app-icp-input>

  </div>
</div>

<div *ngIf="step == 6">
  <table class="table assign-grades">
    <thead>
      <tr>
        <th>Example:</th>
        <th>Assign Percentages</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let grade of gradeLevels">
        <td>
          {{ grade.grade }} &gt;= {{ grade.level }}
        </td>
        <td>
          <span>{{ grade.grade }} &gt;= </span>
          <ice
            class="number"
            [hideChanges]="hideChanges"
            [user]="me"
            [disabled]="disabled"
            (changed)="contentChanged($event)"
            [(data)]="inputs['segment_criteria_define_grade_pct_' + grade.i]"
          ></ice>
        </td>
      </tr>
      <tr>
        <td>F &lt; {{lastGradeLevel.level}} </td>
        <td>F &lt; <span inputText="grade_pct" num="4" inline="true"></span> </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="step == 7">
  <div class="grade-container row" *ngFor="let customerIndex of grades">
    <div class="col-sm-1 text-center">
      <h2>{{ customerIndex }}</h2>
    </div>
    <div class="col-sm-11" *ngLet="inputs['segment_criteria_define_' + gradePrefix + '_segment_' + customerIndex] as segmentSel">

      <div class="row inputs-wrapper">
        <label class="col-sm-3">Customer Name:</label>
        <div class="col-sm-9">
          <ice
            [hideChanges]="hideChanges"
            [user]="me"
            [disabled]="disabled"
            (changed)="contentChanged($event)"
            [(data)]="inputs['segment_criteria_define_' + gradePrefix + '_name_' + customerIndex]"
          ></ice>
        </div>
      </div>

      <div class="row inputs-wrapper">
        <label class="col-sm-3">Select a segment:</label>
        <div class="col-sm-9">
          <select [(ngModel)]="segmentSel.content" (ngModelChange)="contentChanged(segmentSel); resetError(segmentSel);">
            <option *ngFor="let segment of activeSegments" [value]="segment">
              <span inputText="name" [num]="segment"></span>
            </option>
          </select>
          <error-msg [input]="segmentSel"></error-msg>
        </div>
      </div>

      <div class="segment-container">

        <app-icp-input
          [criterias]="criterias[segmentSel.content]"
          [inputPrefix]="gradePrefix"
          [inputIndex]="customerIndex"
          [gradeLevels]="userGradeLevels"
          mode="grade"
        ></app-icp-input>

      </div>
    </div>
  </div>
</div>

<div *ngIf="step == 8">
  <div class="grade-feedback-section" *ngFor="let section of gradeSections">
    <h2>{{ section.title }}</h2>
    <ng-container *ngFor="let customerIndex of section.grades">
      <div class="grade-container" *ngIf="inputs['segment_criteria_define_' + section.prefix + '_segment_' + customerIndex].content as segIdx">
        <h3 inputText="{{ section.prefix }}_name" [num]="customerIndex"></h3>
        <h5 inputText="name" [num]="segIdx"></h5>

        <div class="segment-container">
          <app-icp-input
            [criterias]="criterias[segIdx]"
            [inputPrefix]="section.prefix"
            [inputIndex]="customerIndex"
            [gradeLevels]="userGradeLevels"
            mode="grade"
            review="true"
          ></app-icp-input>

        </div>
      </div>
    </ng-container>
  </div>
</div>

<module-feedback *ngIf="step == 5 || step == 8; else nav"></module-feedback>
<ng-template #nav>
  <module-nav *ngIf="!disabled" [step]="data"></module-nav>
</ng-template>