@import "src/app/module-viewer/riverside-step-template/templates/template.sass"
@import "src/app/common/sass/variables.sass"

table.market-segments
  margin-top: 30px
  table-layout: fixed
  width: 100%

  th
    width: 25%
    max-width: 25%
    text-align: center
    font-size: 16px
    padding: 0 20px

    &.inactive, .example
      color: #aaa

  td
    width: 25%
    max-width: 25%
    padding: 7px

    ice
      margin: 0
      padding: 0
      max-width: 100%

  .segment-label
    vertical-align: top
    width: 15%

.segment-container
  margin: 25px 0

  h2
    margin-bottom: 1em

a.add-rem
  color: $blue !important
  cursor: pointer

app-icp-input
  margin-top: 1em

.ice-textarea ::ng-deep #textbody
  height: 150px
  overflow: auto

.inputs-wrapper
  margin-bottom: 1em

  select
    width: 100%

.grade-container
  margin-top: 2em