<div class="modal-header">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>

  <h3>{{title}}</h3>
</div>


<div class="modal-body">
  <div [innerHtml]="content | safehtml"></div>
</div>

<div class="modal-footer">
  <button
   *ngIf="!noCancel"
    color="primary"
    mat-button
    (click)="modal.dismiss()"
  >{{cancel_text}}</button>
  <button
    mat-raised-button
    color="accent"
    (click)="modal.close()"
  >{{ok_text}}</button>
</div>
