<div class="inputs-wrapper">
    <ice
    *ngFor="let inputId of inputIds.fromPreviousStep"
    id="{{inputId}}"
    [hideChanges]="hideChanges"
    [user]="me"
    [disabled]="disabled"
    (changed)="contentChanged($event)"
    [(data)]="inputs[inputId]"
  ></ice>
</div>
<div
  class="template-footer"
  [innerHtml]="contentData.instructions | safehtml"
></div>

<ckeditor class="ckeditor" [editor]="Editor" [(ngModel)]="message"></ckeditor>

<module-nav
  *ngIf="!disabled"
  [step]="data"
  [action]="action"
  (feedback)="feedbackClicked($event)"
  [submitting]="submitting"
  >
</module-nav>
