<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <mat-radio-group [(ngModel)]="userChoice" (change)="onRadioChange($event)">
        <mat-radio-button [ngClass]="{'container text-center': contentData.step_select == 'TitleOnly'}" *ngFor="let item of items; let i = index" [value]="item">
          <div class="container">
            <div class="row flush-p justify-content-center" *ngIf="contentData.step_select == 'TitleDescriptionAndImage'" >
              <div class="col-4">

                <b>{{item.title}}</b>
                <div [innerHTML]="item.description | safehtml"></div>

              </div>
              <div class="col-8">
                <img style="width: 30rem" [src]="item.image" alt="404"/>
              </div>
            </div>
            <div class="row flush-p" *ngIf="contentData.step_select == 'Title_only'" >
              <div class="col-12">
                <b>{{item.title}}</b>
              </div>
            </div>
            <div class="row flush-p justify-content-center" *ngIf="contentData.step_select == 'TitleAndDescription'" >
              <div class="col-12">

                <b>{{item.title}}</b>
                <div [innerHTML]="item.description | safehtml"></div>

              </div>
            </div>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <module-nav (click)="approved()" *ngIf="!disabled && validate()" [step]="data" [action]="action"></module-nav>
</div>


