<h2
  class="template-title"
  [innerHtml]="contentData.title | safehtml"
></h2>
<div
  class="template-description"
  [innerHtml]="contentData.description | safehtml"
></div>
<ice
    class="brainstorm"
    id="brainstorm"
    [hideChanges]="hideChanges"
    [user]="me"
    [disabled]="true"
    (changed)="contentChanged()"
    [(data)]="inputs.brainstorm"
    style="margin: 20px 0"
  ></ice>

  <div
  class="template-footer"
  [innerHtml]="contentData.instructions | safehtml"
></div>
<div class="inputs-wrapper">
  <div class="inputs-wrapper-column">
    <ice
    *ngFor="let inputId of inputIds.personas"
    id="{{inputId}}"
    [hideChanges]="hideChanges"
    [user]="me"
    [disabled]="disabled"
    (changed)="contentChanged()"
    [(data)]="inputs[inputId]"
  ></ice>
</div>
</div>


<module-nav [action]="action"></module-nav>
