<div class="page-container">
    <div class="page-content">
      <h3>Change Password</h3>
      <div>
        <form
          
          [formGroup]="form"
          (ngSubmit)="save()"
        >
          
          <div class="form-group">
            <label for="curPwd">Current Password</label>
            <div class="password-wrapper">
              <input id="curPwd" [attr.type]="form.controls.curPwd.showText?'text':'password'" class="site-tbox" formControlName="curPwd" />
              <span class="fa fa-eye" (click)="form.controls.curPwd.showText = !form.controls.curPwd.showText"></span>
            </div>

            <div
              *ngIf="
                form.controls.curPwd.errors?.required &&
                form.controls.curPwd.touched
              "
              class="error"
            >
              *Required
            </div>
          </div>
  
          <div class="form-group">
            <label for="newPwd">New Password</label>
            <div class="password-wrapper">
              <input id="newPwd" [attr.type]="form.controls.newPwd.showText?'text':'password'" class="site-tbox" formControlName="newPwd" />
              <span class="fa fa-eye" (click)="form.controls.newPwd.showText = !form.controls.newPwd.showText"></span>
            </div>

            <div
              *ngIf="
                form.controls.newPwd.errors?.required &&
                form.controls.newPwd.touched
              "
              class="error"
            >
              *Required
            </div>
          </div>
  
          <div class="form-group">
            <label for="newPwd2">Confirm New Password</label>
            <div class="password-wrapper">
              <input id="newPwd2" [attr.type]="form.controls.newPwd2.showText?'text':'password'" class="site-tbox" formControlName="newPwd2" />
              <span class="fa fa-eye" (click)="form.controls.newPwd2.showText = !form.controls.newPwd2.showText"></span>
            </div>

            <div
              *ngIf="
                form.controls.newPwd2.errors?.required &&
                form.controls.newPwd2.touched
              "
              class="error"
            >
              *Required
            </div>
          </div>
          <button
            class="btn btn-primary"
            type="button"
            [disabled]="saving"
            (click)="save()"
          >
            Save
          </button>
          <div *ngIf="error" class="danger">{{error}}</div>
        </form>
      </div>
    </div>
  </div>
  