<div class="page-container">
  <div class="page-content">
    <h3>Change Password</h3>
    <div>
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group">
          <label for="curPwd">Current Password</label>
          <div class="password-wrapper">
            <input
              id="curPwd"
              [attr.type]="showText.curPwd ? 'text' : 'password'"
              class="site-tbox"
              formControlName="curPwd"
            />
            <span
              class="fa fa-eye"
              (click)="showText.curPwd = !showText.curPwd"
            ></span>
          </div>
          <e3-required [formGroup]="form" controlName="curPwd"></e3-required>
        </div>

        <div class="form-group">
          <label for="newPwd">New Password</label>
          <div class="password-wrapper">
            <input
              id="newPwd"
              (keypress)="form.controls.newPwd2.setErrors(null)"
              [attr.type]="showText.newPwd ? 'text' : 'password'"
              class="site-tbox"
              formControlName="newPwd"
            />
            <span
              class="fa fa-eye"
              (click)="showText.newPwd = !showText.newPwd"
            ></span>
          </div>
          <e3-required [formGroup]="form" controlName="newPwd"></e3-required>
        </div>

        <div class="form-group">
          <label for="newPwd2">Confirm New Password</label>
          <div class="password-wrapper">
            <input
              id="newPwd2"
              (keypress)="form.controls.newPwd.setErrors(null)"
              [attr.type]="showText.newPwd2 ? 'text' : 'password'"
              class="site-tbox"
              formControlName="newPwd2"
            />
            <span
              class="fa fa-eye"
              (click)="showText.newPwd2 = !showText.newPwd2"
            ></span>
          </div>
          <e3-required [formGroup]="form" controlName="newPwd2"></e3-required>
        </div>
        <button
          class="btn btn-primary"
          type="button"
          [disabled]="saving && !saving.closed"
          (click)="save()"
        >
          Save
        </button>
        <div *ngIf="error" class="danger">{{ error }}</div>
      </form>
    </div>
  </div>
</div>
