<div class="module-name">
  <a class="module-name-link" *ngIf="!module.underConstruction && module.status?.is_activated" [routerLink]="'/org/' +orgId + '/module/' + module.id + '/step/1'">{{ module.shortName }}</a>
  <a class="module-name-link" *ngIf="module.underConstruction && module.status?.is_activated" (click)="showUnderConstructionMessage(module)">{{ module.shortName }}</a>
  <span class="module-name-link" *ngIf="!module.status?.is_activated">{{ module.shortName }}</span>
</div>
<div class="under-construction" *ngIf="underConstruction">This module is under construction!</div>