@import "src/app/module-viewer/riverside-step-template/templates/template.sass"
\:host
  max-width: fit-content
  \::ng-deep
    #textbody
      padding: 5px;
      p
        margin-bottom: 0

    .ck-editor__editable_inline
      min-height: 300px;
    .ck-content:not(.ck-focused)
	    border: 1px solid rgba(0, 0, 0, 0.15);

  .ckeditor
    display: block
    margin-top: 40px
.persona-behavior-wrapper
  font-size: large
  margin-top: 40px
  .persona-row
    display: flex
    align-items: center
    margin-bottom: 15px

    .persona-name-column
      display: flex
      align-items: center
      margin-right: 20px
      width: 250px;

      .persona-name-title
        min-width: 0px;

      .persona-picture
        width: 100px
        height: 100px
        border-radius: 100px
        border: 1px solid #ccc
        margin-right: 10px
        flex-shrink: 0

      .persona-name
        font-size: x-large
        color: blue !important
        \::ng-deep span.ins
          color: blue !important

      .persona-title
        overflow-wrap: break-word;


    .persona-behavior-column
      width: 200px

      &.behavior-title
        font-size: x-large
        text-align: center
        margin-bottom: 20px

\::ng-deep .persona-behavior-column
  #textbody
    min-height: 120px
