\:host
    padding: 2em

.organizations
    text-transform: uppercase
    font-family: Montserrat
    margin-top: 1em

    .organization-item
        padding: 2em
        height: 8em
        text-align: center
        flex: 0 0 20%
        max-width: 20%

        .org-item-container
            display: block
            max-width: 150px
            margin: 0 auto

            .org-name
                height: 4em
                display: flex;
                justify-content: center
                align-items: center
                color: #999

        \&.has-progress
            .org-name
                color: black !important

            .org-progress
                display: block !important

.sort-dropdown
    margin-top: 3em
    font-family: Montserrat
    width: 100%

    .btn
        text-transform: uppercase
        width: 100%
        line-height: 1
        text-align: left

    .btn-secondary
        background-color: #00529f
        color: white
        border-color: #00529f

    .dropdown-toggle::after
        position: absolute
        right: 12px
        top: 45%

    .dropdown-menu
        width: 100%

        .dropdown-item
            padding: 0.5em
            text-transform: uppercase
