<div class="container-fluid">
<div class="row">
  <div class="col-lg-9 col-md-12">
    <h1>RMCF SALES EXCELLENCE DASHBOARD</h1>
  </div>
  <div class="col-lg-3 col-md-12 dashboard-menu text-right">
    <div class="dashboard-menu-wrapper">
      <app-list-style-toggle [(active)]="view"></app-list-style-toggle>

      <div class="sort-menu" *ngIf="view == 'grid'">
        <div ngbDropdown class="sort-dropdown d-inline-block" #layoutSel="ngbDropdown">
          <button class="btn btn-primary" id="grid-sort" ngbDropdownToggle>{{ (sortOrder$ | async) || 'Sort By' }}</button>
          <div ngbDropdownMenu aria-labelledby="grid-sort">
            <button ngbDropdownItem (click)="setSort('Alphabetical'); layoutSel.close();">Alphabetical</button>
            <button ngbDropdownItem (click)="setSort('% Complete'); layoutSel.close();">% Complete</button>
          </div>
        </div>

        <button class="btn btn-primary sort-direction" (click)="toggleSortOrder()">
          <mat-icon *ngIf="sortAsc$ | async">arrow_downward</mat-icon>
          <mat-icon *ngIf="!(sortAsc$ | async)">arrow_upward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="organizations$ | async as organizations">

  <div class="organizations row" [style.max-height]="gridHeight$ | async" *ngIf="view == 'grid'">
    <div #orgItem class="organization-item col-sm-2" *ngFor="let organization of organizations" [class.has-progress]="organization.progress">
      <div class="org-item-container">
        <div class="org-name" [routerLink]="'/dashboard/' + organization.id">
          {{ organization.name }}
        </div>
        <div class="org-progress d-none">
          <span class="progress-pct">{{ organization.progress }}%</span>
          <app-dashboard-progress-bar [progress]="organization.progress"></app-dashboard-progress-bar>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="view == 'list'">
    <table class="table list-view" matSort (matSortChange)="setListSort($event)" [matSortDisableClear]="true" matSortActive="name" matSortDirection="asc">
      <thead>
        <tr>
          <th class="text-center" mat-sort-header="name">Portco</th>
          <th mat-sort-header="progress">% Complete</th>
          <th mat-sort-header="due_date">Final Completion Date</th>
          <th class="op-partner" mat-sort-header="op_partner">Operating Partner</th>
          <th class="fin-director" mat-sort-header="fin_director">Finance Director</th>
          <th class="man-director" mat-sort-header="man_director">SE Managing Director</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let organization of organizations" [class.no-progress]="!organization.progress">
          <td>
            <div class="org-name" [routerLink]="'/dashboard/' + organization.id">
              {{ organization.name }}
            </div>
          </td>
          <td class="org-progress">
            <div [class.red]="organization.progress < 30" [class.yellow]="organization.progress < 50">{{ organization.progress }}</div>
          </td>
          <td class="due-date">
            <span *ngIf="organization.due_date">{{ organization.due_date | readabledate }}</span>
          </td>
          <td class="op-partner"></td>
          <td class="fin-director"></td>
          <td class="man-director"></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
</div>