\:host
    padding: 2em
    width: 100%

.organizations
    text-transform: uppercase
    font-family: Montserrat
    margin-top: 1em
    flex-direction: column
    max-height: 55em
    width: 100%

    .organization-item
        padding: 2em
        height: 8em
        text-align: center
        flex: 0 0 20%
        max-width: 20%

        .org-item-container
            display: block
            max-width: 150px
            margin: 0 auto

            .org-name
                height: 4em
                display: flex;
                justify-content: center
                align-items: center
                color: #999

        \&.has-progress
            .org-name
                color: black !important

            .org-progress
                display: flex !important

                .progress-pct
                    display: inline-block
                    width: 4em
                    text-align: left
                    color: #00529f

                app-dashboard-progress-bar
                    margin-top: 6px



.sort-menu
    margin-top: 3em
    font-family: Montserrat
    display: flex
    width: 100%

    .sort-dropdown
        flex: 1

        .btn
            width: 100%

    .btn
        text-transform: uppercase
        line-height: 1
        text-align: left

    .btn-primary
        background-color: #00529f
        color: white
        border-color: #00529f
        padding-right: 2em

    .dropdown-toggle::after
        position: absolute
        right: 12px
        top: 45%

    .dropdown-menu
        width: 100%

        .dropdown-item
            padding: 0.5em
            text-transform: uppercase

    .sort-direction
        padding: 0 0.5em
        font-size: 2em
        margin-left: 0.5em