@import "src/app/common/sass/variables.sass";
\:host
  display: block
  min-height: 100vh
  box-shadow: -3px 0 5px 0 #555
  background: white
  margin-left: $left-sidebar-width
  width: 300px

table
    tr
        cursor: pointer

        td
            vertical-align: top
            padding-bottom: 3px