<div class="template-description">
  <p>In the previous step, you narrowed the personas down these 4 to 6 titles</p>
</div>
<div class="template-description">
  <p>Based on the instructions in the video above, give each persona a name.</p>
</div>

<div class="inputs-wrapper container-fluid">
  <div *ngFor="let inputId of activePersonas; let idx = index" class="row">
    <div class="col-sm-6">
      <ice
        [disabled]="true"
        [(data)]="inputs[inputId]"
      ></ice>
    </div>
    <div class="col-sm-6">
      <ice [(data)]="inputs[inputIds.personas[idx]]"></ice>
    </div>
  </div>
</div>


<module-nav *ngIf="!disabled" [step]="data" [action]="action"></module-nav>
