.btn-group
    button
        padding: 4px 1.5em 0
        line-height: 1

        mat-icon
            font-size: 1.5em

.btn
    border-color: #00529f
    color: #00529f

    .focus
        box-shadow: none

.btn-secondary
    background-color: #00529f
    color: white

    &:hover
        background-color: #00529f
        color: white