<div *ngIf="!hasSubFields" class="form-group" class="type-{{ type }} name-{{ name }}">

  <label *ngIf="type != 'boolean'">{{ fieldTitle(name) }}</label>

  <input *ngIf="type == 'text-input'"
    [ngModelOptions]="{standalone: true}"
    [(ngModel)]="value"
    (change)="valueChange()"
    type="text"
    class="site-tbox"
  />

  <input *ngIf="type == 'number'"
    [ngModelOptions]="{standalone: true}"
    [(ngModel)]="value"
    (change)="valueChange()"
    type="number"
    class="site-tbox"
  />

  <textarea *ngIf="type == 'json'"
    [ngModelOptions]="{standalone: true}"
    [(ngModel)]="value"
    (change)="valueChange()"
    class="site-tbox"
  ></textarea>

  <ckeditor
    *ngIf="type == 'string'"
    class="ckeditor"
    [editor]="rtEditor"
    [(ngModel)]="value"
  ></ckeditor>

  <label *ngIf="type == 'boolean'">
    <input
      type="checkbox"
      [ngModelOptions]="{standalone: true}"
      [(ngModel)]="value"
      (change)="valueChange()"
    >
    {{ fieldTitle(name) }}
  </label>

</div>

<div *ngIf="hasSubFields">
  <label>{{ fieldTitle(name) }}</label>
  <div class="card sub-fields" *ngFor="let val of value; index as idx">
    <div class="card-body">
      <button class="btn btn-danger remove-subvalue" (click)="onClickRemoveSubField(idx)">Remove</button>
      <app-step-template-field *ngFor="let field of type" (change)="subValueChange()" [section]="name" [index]="idx" [field]="field" [(json)]="json"></app-step-template-field>
    </div>
  </div>
  <button class="btn btn-primary" (click)="onClickAddSubField()">Add</button>
</div>