<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <h1>SALES EXCELLENCE DASHBOARD</h1>
    </div>
    <div class="col-lg-3 col-md-12 dashboard-menu text-right">
      <div class="dashboard-menu-wrapper">
        <app-list-style-toggle [(active)]="view"></app-list-style-toggle>
      </div>
    </div>
  </div>
</div>

<div *ngIf="organizations$ | async as organizations">
  <div class="organization-select" *ngIf="organization && organizations.length > 1">
    <div ngbDropdown class="d-inline-block" #orgSel="ngbDropdown">
      <button class="btn btn-primary" ngbDropdownToggle>{{ organization.name }}</button>
      <div ngbDropdownMenu aria-labelledby="grid-sort">
        <button *ngFor="let org of organizations" ngbDropdownItem (click)="setOrganization(org); orgSel.close();">{{ org.name }}</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modules$ | async as modules">
  <div *ngIf="view == 'grid'">
  <div *ngLet="(modulesRequest$ | async | canModify) as canActivate" class="panel-container">
    <div *ngFor="let category of modules" class="card module-category" [class.double]="2 == category.columns.length">
    <div class="card-header">
      {{ category.name }}
    </div>

    <div class="card-body">
      <div *ngFor="let moduleGroup of category.columns" class="module-group">
        <div *ngFor="let module of moduleGroup" class="module-item container-fluid" [class.active]="module.status?.is_activated == 1" [class.late]="module.status?.is_late" [class.completed]="module.status?.progress == 100" [class.has-due-date]="module.status?.due_date">
          <div class="row">
            <div class="col-sm-3 module-control">
                <mat-radio-button *ngIf="canActivate" class="example-radio-button" [name]="module.id" (click)="toggleModuleStatus(module)" [checked]="module.status?.is_activated == 1"></mat-radio-button>
                <mat-icon class="completed-check">check_circle</mat-icon>
            </div>
            <div class="col-sm-9 module-name">
              <app-module-link [module]="module"></app-module-link>

              <div class="due-date" *ngIf="module.status?.is_activated">
                <mat-icon *ngIf="!module.status.due_date && canActivate" (click)="d.toggle()">calendar_today</mat-icon>
                <input type="text" ngbDatepicker #d="ngbDatepicker" container="body" [minDate]="minDate" [(ngModel)]="module.status.due_date_edit" (dateSelect)="saveDueDate(module)" [footerTemplate]="calendarFooter" />
                <ng-template #calendarFooter>
                  <div class="calendar-footer text-center" style="padding: 0.5em">
                    <button class="btn btn-sm btn-secondary" (click)="d.close()">Cancel</button>
                  </div>
                </ng-template>

                <div class="selected-due-date" *ngIf="module.status.due_date" (click)="canActivate && ((module.status?.progress == 100) || d.toggle())">
                  <div class="actual-date">
                    {{ module.status.due_date | readabledate }}
                  </div>
                  <div class="due-progress">
                    <app-dashboard-progress-bar [progress]="module.status.progress"></app-dashboard-progress-bar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div *ngIf="view == 'list'">
    <table *ngIf="listModules$ | async as listModules" class="table dashboard-table list-view" matSort (matSortChange)="setListSort($event)" [matSortDisableClear]="true" matSortActive="name" matSortDirection="asc">
      <thead>
        <tr>
          <th class="text-center" mat-sort-header="idx">Module</th>
          <th mat-sort-header="assessment">Assessment</th>
          <th mat-sort-header="due_date">Target Date</th>
          <th mat-sort-header="progress_status">Status</th>
          <th mat-sort-header="progress">% Complete</th>
          <th mat-sort-header="due_date_revised">Revised Target Date</th>
          <th mat-sort-header="notes">Notes</th>
        </tr>
      </thead>

      <tbody *ngLet="(modulesRequest$ | async | canModify) as canActivate">
        <tr *ngFor="let module of listModules" class="module-item container-fluid" [class.active]="module.status?.is_activated == 1" [class.no-progress]="!module.status?.is_activated" [class.late]="module.status?.is_late" [class.completed]="module.status?.progress == 100" [class.has-due-date]="module.status?.due_date">
          <td>
            {{ module.idx }}. <app-module-link [module]="module"></app-module-link>
          </td>
          <td class="assessment">
            <span [class.red]="module.status?.assessment < 0" [class.yellow]="module.status?.assessment <= 10" *ngIf="module.status?.assessment">{{ module.status.assessment }}</span>
          </td>
          <td class="due-date">
            <span *ngIf="module.status?.due_date">{{ module.status?.due_date | readabledate }}</span>
          </td>
          <td class="org-progress">
            <div *ngIf="module.status">
              <app-dashboard-progress-bar *ngIf="module.status?.is_activated && module.status?.progress < 100" [progress]="module.status?.progress"></app-dashboard-progress-bar>
              <mat-icon class="completed-check" *ngIf="module.status?.progress == 100">check_circle</mat-icon>
            </div>
          </td>
          <td class="org-progress">
            <span class="in-progress" *ngIf="module.status?.progress < 100">{{ module.status?.progress }}</span>
            <span class="progress-complete" *ngIf="module.status?.progress == 100">COMPLETE</span>
          </td>
          <td class="due-date">
            <span *ngIf="module.status?.due_date_revised">{{ module.status?.due_date_revised | readabledate }}</span>
          </td>
          <td class="notes">
            <textarea mat-autosize matAutosizeMaxRows="5" *ngIf="module.status && canActivate" [(ngModel)]="module.status.notes" (change)="saveNotes(module)"></textarea>
            <span *ngIf="module.status && !canActivate">{{ module.status?.notes }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>