\:host
    width: 100%
    padding: 2em

.organization-select
    margin-bottom: 2em

    .dropdown-menu
        margin-top: 5px
        margin-left: -3px
        max-height: 75vh
        overflow: auto

.completed-check
    color: #58ad3f

.panel-container
    display: flex
    width: 100%
    border-right: 1px solid black !important
    font-family: Montserrat

    .card
        flex: 1
        border: 1px solid black
        border-radius: 0
        border-right: 0
        margin: 0
        display: flex
        flex-direction: column
        min-width: 100px

        \&.double
            flex: 2

            .module-group:first-of-type
                padding-right: 1em;

        .card-header
            text-transform: uppercase
            text-align: center
            background-color: #00529f
            margin: 1em
            padding: 5px
            font-size: 1.2em
            color: white
            border-radius: 4px
            white-space: nowrap

        .card-body
            padding: 0 5px 0
            flex: 1
            display: flex
            overflow: auto

            .container-fluid
                padding: 0

                .row
                    margin: 0

            .module-group
                flex: 1
                height: 100%
                padding-top: 15px

                &:nth-of-type(2)
                    border-left: 1px solid #ccc
                    padding-left: 1em;

            .module-item
                height: 8em

                \&.active
                    .module-name
                        a.module-name-link
                            display: block
                            color: black
                            cursor: pointer

                        span.module-name-link
                            display: none

                        .due-date
                            display: block
                            margin-top: 3px
                            cursor: pointer
                            position: relative

                            input
                                width: 0
                                height: 0
                                visibility: hidden
                                position: absolute
                                margin-left: 5px
                                margin-top: -5px

                            .selected-due-date
                                display: flex
                                width: 100%

                                .actual-date
                                    flex: 1
                                    font-size: 0.7em
                                    padding-right: 0.5em

                                .due-progress
                                    flex: 1

                        \::ng-deep
                            .mat-icon
                                color: #888

                    \&.late
                        .actual-date
                            color: red !important

                    \&.completed
                        .actual-date
                            display: none

                        .module-control
                            .completed-check
                                display: inline-block

                            mat-radio-button
                                display: none

                    \&.has-due-date
                        .due-date
                            input
                                margin-top: 10px !important
                                margin-left: 0 !important

                .module-control
                    text-align: center
                    padding: 5px

                    .completed-check
                        display: none

                    \::ng-deep
                        .mat-radio-label-content
                            padding: 0

                        .mat-radio-button.mat-accent .mat-radio-outer-circle
                            border-color: #222
                            border-width: 1px

                        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle
                            border-color: #ccc
                            border-width: 2px

                        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle
                            color: #00529f
                            background-color: #00529f
                            transform: scale(0.75)

                        .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element
                            background-color: rgba(0, 82, 159, .26)

                .module-name
                    padding: 0
                    color: #999
                    text-transform: uppercase
                    padding-right: 0

                    .due-date
                        display: none

                    a.module-name-link
                        display: none

                    span.module-name-link
                        display: block

table.list-view
    tr
        app-module-link
            display: inline-block

        td.notes
            padding: 5px
            vertical-align: middle

            &:focus-within
                border: 1px solid #dee2e6

            textarea
                display: block
                width: 100%
                min-width: 200px
                min-height: 2.2em
                margin: 0
                padding: 0
                border: 0
                outline: 0


@media only screen and (max-width: 1700px)
    .panel-container .card
        font-size: 0.8vw

        .card-header
            font-size: 0.9vw

        \::ng-deep
            .mat-radio-container, .mat-radio-outer-circle, .mat-radio-inner-circle
                width: 1vw
                height: 1vw

        .mat-icon
            width: 1.2vw
            height: 1.2vw
            font-size: 1.2vw

@media only screen and (max-width: 1450px)
    .panel-container .card
        font-size: 0.75vw

@media only screen and (max-width: 1330px)
    \:host
        width: auto
        position: relative
        z-index: 0

    .panel-container .card
        font-size: 11px

        \&.double
            .card-body
                width: 300px

        .card-body
            width: 150px

        .module-group
            width: 150px

        .card-header
            font-size: 13px

        \::ng-deep
            .mat-radio-container, .mat-radio-outer-circle, .mat-radio-inner-circle
                width: 15px
                height: 15px

        .mat-icon
            width: 20px
            height: 20px
            font-size: 20px