<span>
  <button
    mat-button="mat-button"
    color="primary"
    *ngIf="showPrevious"
    (click)="previous()"
  >Previous</button>
</span>

<button
  *ngIf="is_done"
  mat-raised-button
  color="accent"
  (click)="buttonClicked()"
  e3-async-button
  [running]="submitting"
  >
  {{actionButtonText()}}

</button>
<button
  *ngIf="!is_done"
  mat-stroked-button
  color="accent"
  (click)="buttonClicked()"
  e3-async-button
  [running]="submitting"
  >
  {{actionButtonText()}}

</button>
<!-- <span [ngSwitch]="action">
<button
  *ngSwitchCase="'feedback'"
  mat-stroked-button
  [color]="is_done?'accent':''"
  (click)="feedbackClicked()"
  e3-async-button
  [running]="submitting"
  >
  Request Feedback
</button>

<button
  *ngSwitchDefault
  mat-stroked-button
  (click)="markAsDone()"
  [color]="is_done?'accent':''"
  >
  {{is_done?'Done':'Mark as done'}}
</button>

</span> -->


<span>
  <button
    mat-button="mat-button"
    color="primary"
    *ngIf="showNext"
    (click)="next()"
  >Next</button>
</span>
