<span>
  <button
    mat-button="mat-button"
    color="primary"
    *ngIf="showPrevious"
    (click)="previous()"
  >Previous</button>
</span>

<span [ngSwitch]="action">
<button
  *ngSwitchCase="'feedback'"
  mat-raised-button color="primary"
  (click)="requestFeedbackClicked()"
  e3-async-button
  [running]="submitting"
  >
  Submit
</button>
<button
  *ngSwitchDefault
  mat-raised-button
  [disabled]="is_done"
  (click)="markAsDone()"
  >
  Mark as done
</button>

</span>


<span>
  <button
    mat-button="mat-button"
    color="primary"
    *ngIf="showNext"
    (click)="next()"
  >Next</button>
</span>
