<span>
  <button
    mat-button="mat-button"
    color="primary"
    *ngIf="showPrevious"
    (click)="previous()"
  >< Previous</button>
</span>

<button
  *ngIf="is_done"
  mat-raised-button
  color="accent"
  (click)="buttonClicked()"
  e3-async-button
  [running]="submitting"
  >
  {{actionButtonText()}}

</button>
<button
  *ngIf="!is_done"
  mat-stroked-button
  color="accent"
  (click)="buttonClicked()"
  e3-async-button
  [running]="submitting"
  >
  {{actionButtonText()}}

</button>


<span>
  <button
    mat-button="mat-button"
    color="primary"
    *ngIf="showNext"
    (click)="next()"
  >Next ></button>
</span>
