<div (mouseleave)="!comment.adding && !menuComment && closeComment()" *ngIf="data">
  <div *ngIf="data.selections$ | async as selections" class="matrix-selections" [class.allow-remove-selections]="allowRemoveSelections">
    <span *ngFor="let selection of selections; last as isLast" class="matrix-selection"><span>{{ selection }}</span><span class="remove-selection" (click)="removeSelection(selection)"><mat-icon>delete</mat-icon></span><span *ngIf="!isLast">,&nbsp;</span> </span>
  </div>

  <div
    class="textbody"
    [attr.disabled]="disabled"
    [ngClass]="{'CT-hide': template.hideChanges$ | async, hasComment: comment.list?.length, showComment: comment.show}"
    [class.has-error]="data.error | async"
    [class.single-line]="single"
    [innerHTML]="initialContent | safehtml"
    (mouseenter)="onMouseEnter($event)"
    (blur)="onBlur($event)"
    (paste)="onChange()"
    (cut)="onChange()"
  ></div>
  <error-msg [input]="data"></error-msg>
  <div class="add-comment" *ngIf="!disabled">
    <button mat-icon-button (click)="addComment($event)" id="addComment">
      <mat-icon>add_comment</mat-icon>
    </button>
  </div>
  <div  class="has-comment" [hidden]="!comment.list?.length">
    <button mat-icon-button id="hasComment">
      <mat-icon>comment</mat-icon>
    </button>
  </div>

  <div class="comment-wrapper" *ngIf="comment.adding">
    <ice-user [user]="user" [tracker]="tracker"></ice-user>
    <textarea autofocus [(ngModel)]="comment.content" class="form-control" id="newComment"></textarea>
    <div class="btn-wrapper">
      <button class="btn btn-sm btn-primary" (click)="saveComment()">Comment</button>
      <button class="btn btn-sm btn-default" (click)="cancelComment()">Cancel</button>
    </div>
  </div>

  <div *ngIf="!comment.adding && comment.list?.length && comment.show" class="comment-wrapper comment-list">
    <div *ngFor="let c of comment.list | reverse; let i=index">
      <ice-user [user]="c.user" [time]="c.formattedTime" [tracker]="tracker"></ice-user>
      <div class="comment-content">
        <div>{{ c.content }}</div>
        <button
          *ngIf="user.id == c.user.id"
          mat-icon-button
          #menuTrigger="matMenuTrigger"
          (click)="menuComment = c; menuIndex = i"
          (menuClosed)="menuComment = null"
          [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editClicked($event)">Edit</button>
      <button mat-menu-item (click)="deleteClicked($event)">Remove</button>
    </mat-menu>
  </div>
</div>
