.person-strategy-key-issue
  margin-bottom: 20px
  justify-content: space-evenly

  .person-strategy-key-issue-item
    margin-bottom: 20px

  .person-strategy-key-issue-description
    padding-left: 10px

  .buyer-personas-item
    display: flex

    h3
      color: #00a5ee
    p
      color: #b8b2b2
      font-size: 14px

.ice-textarea ::ng-deep .textbody
  height: 150px
  overflow: auto

.person-strategy-additional-questions
  margin-bottom: 10px

  .person-strategy-additional-questions-row
    padding-right: 0

.person-strategy-relevant-messaging
  margin-bottom: 10px

  .person-strategy-relevant-messaging-left-block
    display: flex
    flex-direction: column
    justify-content: center
    height: 150px
    border: solid 2px #BFBFBF
