<div
  class="template-instructions"
  [innerHtml]="contentData.instructions | safehtml"
  *ngIf="contentData.instructions"
></div>

<div class="persona-behavior-wrapper">
  <div class="persona-row">
    <div class="persona-name-column"></div>
    <div
      class="persona-behavior-column behavior-title "
      *ngFor="let trait of traits"
    >
      {{ trait.title }}
    </div>
  </div>
  <div
    class="persona-row"
    *ngFor="let persona of inputIds.fromPreviousSteps; let i = index"
  >
    <riverside-persona [persona]="persona.title"></riverside-persona>
    <div class="persona-behavior-column" *ngFor="let trait of traits">
      <ice
        [input]="'persona_' + trait.id + '_' + (i + 1)"
        single="true"
        [numeric]="trait.numeric"
      ></ice>
    </div>
  </div>
</div>

<module-nav *ngIf="!disabled" [step]="data" [action]="action"></module-nav>
