<div
  class="template-example"
  *ngIf="contentData.example"
>
  <div class="row">
    <div class="col-lg-6 col-sm-12" style="font-size: large;">
        <div class="template-example-text" [innerHtml]="contentData.example.text | safehtml"></div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="template-example-resource" [innerHtml]="contentData.example.resource | safehtml"></div>

      <!-- <iframe style="margin: auto;" allow="autoplay; fullscreen" allowfullscreen="" frameborder="0" height="202" src="https://player.vimeo.com/video/350492014" width="360"></iframe></div> -->
    </div>


  </div>
</div>
<div
  class="template-instructions"
  [innerHtml]="contentData.instructions | safehtml"
  *ngIf="contentData.instructions"
></div>

<div class="persona-behavior-wrapper">
  <div class="persona-row">
      <div class="persona-name-column"></div>
      <div class="persona-behavior-column behavior-title " *ngFor="let trait of traits">
        {{trait.title}}
      </div>
  </div>
  <div class="persona-row" *ngFor="let persona of inputIds.fromPreviousSteps; let i=index">
      <riverside-persona [persona]="persona.title" [inputs]="inputs"></riverside-persona>
      <div class="persona-behavior-column" *ngFor="let trait of traits">
        <ice
          id="{{'persona_' + trait.id + '_' + (i+1)}}"
          [hideChanges]="hideChanges"
          [user]="me"
          [disabled]="disabled"
          (changed)="contentChanged($event)"
          [(data)]="inputs['persona_' + trait.id + '_' + (i+1)]"
        ></ice>
    </div>
  </div>
</div>

<module-nav *ngIf="!disabled" [action]="action"></module-nav>
