<ul>
  <li class="logo">
    <img src="/public/img/riverside_logo.png">
  </li>

  <li
    class="menu-item"
    e3-tooltip="MENU"
    placement="right"
  >
    <a (click)="toggleMenu()">
      <div class="menu-item-icon">
        <mat-icon>menu</mat-icon>
      </div>

    </a>
  </li>

  <li
    class="menu-item"
    *ngFor="let menu of menus"
    [hidden]="!showMenuItem(menu)"
    e3-tooltip="{{menu.label}}"
    placement="right"
  >
    <ng-container *ngIf="showMenuItem(menu)">
      <a
        [routerLink]="menu.link"
        routerLinkActive="active"
        *ngIf="menu.link "
      >
        <ng-container *ngTemplateOutlet="menuItem"></ng-container>
      </a>
      <a
        [routerLink]="menu.linkFn(navService)"
        *ngIf="menu.linkFn"
      >
        <ng-container *ngTemplateOutlet="menuItem"></ng-container>
      </a>

      <a
        [href]="menu.href"
        routerLinkActive="active"
        *ngIf="menu.href"
      >
        <ng-container *ngTemplateOutlet="menuItem"></ng-container>
      </a>
      <a
        (click)="openModal(menu.modalComponent)"
        *ngIf="menu.modalComponent"
      >
        <ng-container *ngTemplateOutlet="menuItem"></ng-container>
      </a>

      <ng-template #menuItem>
        <div class="menu-item-icon" >
          <mat-icon [ngClass]="menu.className" *ngIf="menu['mat-icon']">{{menu['mat-icon']}}</mat-icon>
          <span *ngIf="menu.render" [innerHtml]="menu.render(me) | safehtml"></span>
          <span class="menu-item-counter" [hidden]="!menu.counter">{{menu.counter}}</span>
        </div>


      </ng-template>
    </ng-container>
  </li>
</ul>
