<div
  [ngStyle]="{'width.px': width}"
  *ngIf="ready"
>
  <div class="left-menu-header"></div>

  <div class="left-menu-summary">
    <div class="summary-title">{{module.name}}</div>

    <div>
      <mat-progress-bar
      style="height: 10px"
        mode="determinate"
        color="accent"
        [value]="module.percComplete">
      </mat-progress-bar>
    </div>

  </div>

  <div class="left-menu-actions">
    <ul class="step-list">
      <li
        class="step-list-item"
        *ngFor="let step of module.steps"
        [ngClass]="{'section-break': step.is_section_break}"
        routerLinkActive="active"
      >
        <a
          *ngIf="step.is_section_break"

        >{{step.description}}</a>

        <a
          [routerLink]="[ '/module', module.id , 'step', step.id ]"

          *ngIf="!step.is_section_break"
        >

          <span class="checkmark" [ngClass]="{'checked': isChecked(step)}">

            <mat-icon [ngClass]="{'approved': step.is_approved}" >done</mat-icon>
          </span>

          <span class="step-number">{{step.position}}</span>

          <span class="step-title">{{step.description}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
