@import "src/app/common/sass/variables.sass";

\:host
    flex: 1
    display: flex
    font-family: Montserrat

.page-content
    display: flex
    flex-direction: column
    flex: 1

.top-bar
    margin-bottom: 1em

    .btn-group
        display: block
        text-align: left

        .btn
            text-transform: uppercase
            font-size: 12px

        .btn:focus
            outline: 0
            box-shadow: none

        .btn-primary
            color: white

    h2
        background-color: $blue
        color: white
        text-align: center
        font-size: 18px
        border-radius: 5px
        text-transform: uppercase
        padding: 8px

.assessment-content
    flex: 1

    table
        height: 100%
        text-transform: uppercase

        tbody, thead
            tr
                height: 10px

            td, th
                height: 10px

                &.session
                    width: 20px
                    text-align: center
                    white-space: nowrap


        tfoot
            height: auto

            tr
                height: 100px

            td
                height: auto
                vertical-align: bottom

        td.session
            span
                color: black

            &.activated
                span
                    color: inherit !important
