<!-- <h2
  class="template-title"
  [innerHtml]="contentData.title | safehtml"
></h2>

<div
  class="template-description"
  [innerHtml]="contentData.description | safehtml"
></div>

<p
  class="template-resource"
  [innerHtml]="contentData.resource | safehtml"
></p>

<div
  class="template-footer"
  [innerHtml]="contentData.footer | safehtml"
></div> -->

<div>
    <div style="margin:auto;text-align: center;">
      <div style="font-size: xx-large;">Introduction to Buyer Personas</div>

      </div>
  </div>

<module-nav></module-nav>
