<table>
  <tr>
    <th
      *ngFor="let col of header"
      (click)="headerClicked(col)"
    >
      {{col.label}}

      <span
        *ngIf="col.id == sortBy.id"
        class="fa"
        [ngClass]="{'fa-sort-alpha-desc': sortBy.orderMult == -1,'fa-sort-alpha-asc': sortBy.orderMult == 1}"
      ></span>
    </th>
  </tr>

  <tr *ngFor="let row of data; let r=index" [ngClass]="{'pointer': row.onClick || row.href}">
    <td
      *ngFor="let col of header; let c=index"
      (click)="cellClicked(row[col.id],col,row,r,c)"
      [ngClass]="tdClassName(row,col)"
      routerLinkActive="active"
    >
      <a [routerLink]="row.link"  *ngIf="row.link">{{col.transform?col.transform(row[col.id],col,row,r,c):row[col.id]}}</a>
      <span *ngIf="!row.link">{{col.transform?col.transform(row[col.id],col,row,r,c):row[col.id]}}</span>
    </td>
  </tr>
</table>
