\:host
  &.bordered
    border: 1px solid #ccc
  &.centered
    td, th
      text-align: center
table
  width: 100%
  th
    text-align: center;
    cursor: pointer;
  th, td
    padding: 8px
  .pointer
    cursor: pointer;
  td > a
    text-decoration: none
    color: inherit
  .active
    background: #e8e3e3;

