<div class="page-content" *ngIf="(activeGroup$ | async) as activeGroup">
  <ng-container *ngLet="(answersRequest$ | async | canModify) as canAnswer">
  <ng-container *ngIf="(answers$ | async) as answers">
  <ng-container *ngIf="(questions$ | async) as questions">
  <ng-container *ngIf="(activeType$ | async) as type">

  <h2>{{ activeGroup.name }}</h2>
  <div class="description">
      {{ activeGroup.description }}
  </div>

  <table class="table table-borderless table-striped questions" [class.readonly]="!canAnswer">
    <thead>
      <tr>
        <th></th>
        <th class="answer">Yes</th>
        <th class="answer">No</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody [class.highlight-yes]="highlight == 'yes'" [class.highlight-no]="highlight == 'no'">
      <tr *ngFor="let question of questions; trackBy: questionTrack" [class.asm-error]="errors[question.id]">
        <td class="question">{{ question.position}}. {{ question.question}}</td>
        <td class="answer answer-yes">
          <mat-radio-button *ngLet="(answers && answers.answers[question.id]?.answer == 1) as checked" [name]="question.id" (click)="canAnswer && setAnswer(question, type, checked ? null : 1)" [checked]="checked"></mat-radio-button>
        </td>
        <td class="answer answer-no">
          <mat-radio-button *ngLet="(answers && answers.answers[question.id]?.answer == 0) as checked" [name]="question.id" (click)="canAnswer && setAnswer(question, type, checked ? null : 0)" [checked]="answers && answers.answers[question.id]?.answer == 0"></mat-radio-button>
        </td>
        <td class="notes">
          <textarea mat-autosize matAutosizeMaxRows="5"
            *ngIf="answers?.answers"
            [disabled]="!canAnswer"
            [ngModel]="answers.answers[question.id]?.notes"
            (ngModelChange)="answers.answers[question.id] = answers.answers[question.id] || {}; answers.answers[question.id].notes = $event"
            (change)="saveNotes(question, type, answers.answers[question.id])">
          </textarea>
        </td>
      </tr>
      <tr class="answer-all" (mouseleave)="highlight = ''">
        <td class="answer-label">
          Select all
        </td>
        <td class="answer" (mouseenter)="canAnswer && highlight = 'yes'">
          <mat-radio-button name="answer_all" (click)="canAnswer && answerAll(activeGroup, type, 1)" *ngIf="!resetSelectAll"></mat-radio-button>
        </td>
        <td class="answer" (mouseenter)="canAnswer && highlight = 'no'">
          <mat-radio-button name="answer_all" (click)="canAnswer && answerAll(activeGroup, type, 0)" *ngIf="!resetSelectAll"></mat-radio-button>
        </td>
        <td class="clear-all" *ngIf="(answersRequest$ | async | canModify:'X-Can-Record')">
          <a href="" (click)="clearAll(activeGroup, type)">Clear all answers</a>
        </td>
      </tr>
      <tr class="importance">
        <td class="importance-label">
          On a scale from 1-5, how important is this to your business?
          (1 = least important, 5 = most important)
        </td>
        <td class="importance-select" colspan="2">
          <select [disabled]="!canAnswer" [(ngModel)]="answers.importance" (change)="canAnswer && setImportance(activeGroup, type, answers.importance)">
            <option *ngFor="let imp of importance">{{ imp }}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="summary table table-bordered">
    <tbody>
      <tr>
        <td>Sum Total</td>
        <td class="score">{{ answers.rawScore || 0 }}</td>
      </tr>
      <tr>
        <td>Weighted Total</td>
        <td class="score">{{ answers.score || 0 }}</td>
      </tr>
    </tbody>
  </table>

  <div class="done">
    <button
      *ngIf="!answers.isDone"
      mat-raised-button
      [color]="!isSectionReady(questions, answers) || 'accent'"
      (click)="markAsDone(activeGroup, type, questions, answers)">Mark As Done</button>

    <button *ngIf="answers.isDone" mat-raised-button>Done</button>

    <div class="alert alert-danger" *ngIf="(errors | keyvalue)?.length">Please answer all questions to mark this section as done</div>
  </div>

  </ng-container>
  </ng-container>
  </ng-container>
  </ng-container>
</div>