@import "src/app/common/sass/variables.sass"

\:host span
    display: inline-block
    width: 4.5em
    border: 2px solid $green
    border-radius: 5px
    font-size: 1.2em
    color: $green
    text-align: center

    &.red
        color: $red !important
        border-color: $red !important

    &.yellow
        color: $yellow
        border-color: $yellow
