<div class="container">

  <div class="row">
    <div class="col-12">
        <div *ngFor="let item of items" class="row">
          <div class="col-4">

            <div class="row">

              <div class="col-2">
                <mat-checkbox *ngIf="!disabled" [(ngModel)]="item.checked" ></mat-checkbox>
                <mat-icon *ngIf="disabled && item.checked">check</mat-icon>
              </div>

              <div [ngClass]="{'col-10': true, 'text-lg-right': contentData.align_right}"><b>{{item.title | uppercase}}</b></div>

            </div>

          </div>
          <div class="col-8">
            <div *ngIf="contentData.show_descriptions" [innerHTML]="item.description"></div>
          </div>
          <hr class="col-12"/>
        </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <button [disabled]="!(validate() | async)" color="accent" mat-button="" class="mat-button mat-accent mat-stroked-button" >
        <span class="mat-button-wrapper"> Confirm </span>
      </button>
    </div>
  </div>
</div>
