<div
  class="page-container"
  *ngIf="ready"
>
  <div class="header-wrapper">
    <div class="header-title">INBOX</div>
  </div>

  <div
    class="buttons-wrapper"
    *ngIf="!message"
  >
    <div>
      Select a message from the menu on the left.
    </div>
  </div>

  <div
    class="page-content"
    *ngIf="message"
    style="margin-top: 20px"
  >
    <h3>{{message.moduleName}}
      <span *ngIf="message.step_id"> - {{message.stepName}}</span>
    </h3>

    <div class="sender">
      <div>
        <letter-image
          [letter]="senderLetter"
          className="bcts-1"
        ></letter-image>

        {{message.orgName}}
      </div>

      <div>{{message.sent_on}}</div>
    </div>

    <div class="content">
      <div
        *ngIf="messageResource.ready"
        [innerHtml]="message.message | safehtml"
      ></div>
    </div>
  </div>

  <div
    class="buttons-wrapper"
    *ngIf="message"
  >
    <a [routerLink]="routerLink">
      <button
        mat-flat-button="mat-stroked-button"
        color="primary"
      >Review module content</button>
    </a>
  </div>

  <div
    class="page-content"
    *ngIf="message && !message.step_id && canProvideFeedback"
  >
    <div class="feedback">
      <p class="instructions">
        Provide feedback for the company
      </p>

      <ckeditor
        [editor]="Editor"
        [(ngModel)]="feedbackMessage"
      ></ckeditor>
    </div>

    <div class="footer">
      <button
        mat-stroked-button="mat-stroked-button"
        color="accent"
        (click)="provideFeedback()"
        e3-async-button
        [running]="submitting"
      >Submit Feedback</button>
    </div>
  </div>
</div>
