<div
  class="template-example"
  *ngIf="contentData.example as example"
>
  <div class="row resource-row">
    <div class="col-md col-sm-12" style="font-size: large;" *ngIf="example.text">
      <div class="template-example-text"
        [innerHtml]="example.text | safehtml"
      ></div>
    </div>
    <div class="col-md col-sm-12" *ngIf="example.resource">
      <div class="template-example-resource"
        [innerHtml]="example.resource | safehtml"
      ></div>
    </div>
  </div>
</div>

<div class="persona-behavior-wrapper" *ngFor="let matrix of contentData.selection_matrix">
  <app-selection-matrix
    *ngIf="activePersonas.length"
    [disabled]="disabled"
    [question]="matrix.question"
    [personas]="activePersonas"
    [options]="matrix.options"
    [horizontal]="true"
    [inputIds]="inputIds"
    [inputs]="inputs"
  ></app-selection-matrix>
</div>

<div
  class="template-instructions"
  [innerHtml]="contentData.instructions | safehtml"
  *ngIf="contentData.instructions"
></div>

<div class="persona-behavior-wrapper">
  <div class="persona-row">
    <div class="persona-name-column"></div>
    <div class="persona-behavior-column behavior-title ">
      {{contentData.behavior}}
    </div>
  </div>
  <div class="persona-row" *ngFor="let persona of activePersonas; let i=index">
    <riverside-persona [persona]="persona" [inputs]="inputs"></riverside-persona>
    <div class="persona-behavior-column">
      <ice [(data)]="inputs[inputIds.personas[i]]"></ice>
    </div>
  </div>
</div>

<module-nav *ngIf="!disabled" [step]="data" [action]="action"></module-nav>
