<h2
  class="template-title"
  [innerHtml]="contentData.title | safehtml"
></h2>
<div
  class="template-description"
  [innerHtml]="contentData.description | safehtml"
  *ngIf="contentData.description"
></div>

  <div
  class="template-resource"
  [innerHtml]="contentData.resource | safehtml"
  *ngIf="contentData.resource"
></div>
<div
  class="template-example"
  *ngIf="contentData.example"
>
  <div class="row resource-row">
    <div class="col-lg-6 col-sm-12" style="font-size: large;" *ngIf="contentData.example.text">
        <div class="template-example-text"
             [innerHtml]="contentData.example.text | safehtml"

        ></div>
    </div>
    <div class="col-lg-6 col-sm-12" *ngIf="contentData.example.resource">
        <div class="template-example-resource"
             [innerHtml]="contentData.example.resource | safehtml"

        ></div>

      <!-- <iframe style="margin: auto;" allow="autoplay; fullscreen" allowfullscreen="" frameborder="0" height="202" src="https://player.vimeo.com/video/350492014" width="360"></iframe></div> -->
    </div>


  </div>
</div>
<div
  class="template-instructions"
  [innerHtml]="contentData.instructions | safehtml"
  *ngIf="contentData.instructions"
></div>

<div class="persona-behavior-wrapper">
  <div class="persona-row">
      <div class="persona-name-column"></div>
      <div class="persona-behavior-column behavior-title ">
        {{contentData.behavior}}
      </div>
  </div>
  <div class="persona-row" *ngFor="let persona of inputIds.fromPreviousStep; let i=index">
      <riverside-persona
        *ngIf="notEmpty(inputs[persona.name].content) && notEmpty(inputs[persona.title].content)"
        [title]="textContent(inputs[persona.title].content)"
        [name]="textContent(inputs[persona.name].content)"
        [picture]="inputs[persona.picture].content"
      ></riverside-persona>
      <div class="persona-behavior-column" *ngIf="notEmpty(inputs[persona.name].content) && notEmpty(inputs[persona.title].content)">
          <ice
            id="{{inputIds.personas[i]}}"
            [hideChanges]="hideChanges"
            [user]="me"
            [disabled]="disabled"
            (changed)="contentChanged()"
            [(data)]="inputs[inputIds.personas[i]]"
          ></ice>
      </div>
  </div>
</div>

<module-nav [action]="action"></module-nav>
