<div
  class="page-wrapper"
  style="width: 100%;"
>
  <app-final-feedback-carousel
    *ngIf="isNavCarousel; else elseBlock"
    [inputIds]="inputIds"
    [columnBoxes]="columnBoxes"
    [inputs]="inputs"
    [data]="data"
  ></app-final-feedback-carousel>
  <ng-template #elseBlock>
    <app-final-feedback-tabs
      [inputIds]="inputIds"
      [columnBoxes]="columnBoxes"
      [inputs]="inputs"
      [data]="data"
    ></app-final-feedback-tabs>
  </ng-template>
</div>

<div
  class="template-footer"
  *ngIf="contentData.instructions && !disabled && !isEmbedded"
  [innerHtml]="contentData.instructions | safehtml"
></div>

<module-feedback *ngIf="!isEmbedded"></module-feedback>