<h2
  class="template-title"
  [innerHtml]="contentData.title | safehtml"
></h2>

<div
  class="template-description"
  [innerHtml]="contentData.description | safehtml"
></div>


<div class="page-wrapper">
  <div class="tabsbar">

      <div
        class="tabitem"
        [ngClass]="{'active': currentSection == persona.name + '_wrapper'}"
        (click)="scrollTo(persona.name + '_wrapper')"
        *ngFor="let persona of inputIds.fromPreviousSteps"
        [hidden]="!(notEmpty(inputs[persona.name].content) && notEmpty(inputs[persona.title].content))"
      >
          <riverside-persona
            *ngIf="notEmpty(inputs[persona.name].content) && notEmpty(inputs[persona.title].content)"
            [title]="textContent(inputs[persona.title].content)"
            [name]="textContent(inputs[persona.name].content)"
            [picture]="inputs[persona.picture].content"
            [size]="50"
          ></riverside-persona>
      </div>
  </div>
  <div
    e3-scroll-spy
    [spiedClassNames]="['persona-wrapper']"
    (sectionChange)="onSectionChange($event)"
  >
    <div class="persona-wrapper" id="{{persona.name+'_wrapper'}}" *ngFor="let persona of inputIds.fromPreviousSteps; let i=index">
      <div class="persona-content" *ngIf="notEmpty(inputs[persona.name].content) && notEmpty(inputs[persona.title].content)">
          <div class="column">
              <riverside-persona
              [title]="textContent(inputs[persona.title].content)"
              [name]="textContent(inputs[persona.name].content)"
              [picture]="inputs[persona.picture].content"
              [size]="100"
            ></riverside-persona>
            <div style="min-height: 300px;margin-top: 10px" class="CT-hide">
              <div class="behavior-title" style="padding-left: 0px;" >Demographics</div>
              <div class="previous-behavior">
                <div class="behavior-subtitle">Gender</div>
                <div class="behavior-content">Male ({{textContent(inputs[persona.perc_male].content)}}%) / Female ({{textContent(inputs[persona.perc_female].content)}}%)</div>
              </div>
              <div class="previous-behavior">
                <div class="behavior-subtitle">Average Age</div>
                <div class="behavior-content">{{textContent(inputs[persona.age].content)}}</div>
              </div>
              <div class="previous-behavior">
                <div class="behavior-subtitle">How They Buy</div>
                <div class="behavior-content" [innerHtml]="inputs[persona.how_they_buy].content || '<p></p>' | safehtml"></div>
              </div>
              <div class="previous-behavior">
                <div class="behavior-subtitle">How They Pay</div>
                <div class="behavior-content" [innerHtml]="inputs[persona.how_they_pay].content || '<p></p>' | safehtml"></div>
              </div>
              <div class="previous-behavior">
                <div class="behavior-subtitle">Typical Titles</div>
                <div class="behavior-content" [innerHtml]="inputs[persona.titles].content || '<p></p>' | safehtml"></div>
              </div>
              <div class="behavior-title" style="padding-left: 0px" >Watering Holes</div>
              <div class="behavior-content" style="padding-left: 20px" [innerHtml]="inputs[persona.watering_holes].content || '<p></p>' | safehtml">

              </div>
            </div>
            <div *ngFor="let item of columnBoxes[0]" class="behavior" style="align-items: end">
                <div class="behavior-title">{{item.title}}</div>
                <ice

                id="{{item.inputId(i)}}"
                [hideChanges]="hideChanges"
                [user]="me"
                [disabled]="disabled"
                (changed)="contentChanged()"
                [(data)]="inputs[item.inputId(i)]"
              ></ice>
            </div>
          </div>
          <div class="column">
            <div *ngFor="let item of columnBoxes[1]" class="behavior">
                <div class="behavior-title">{{item.title}}</div>
                <ice

                id="{{item.inputId(i)}}"
                [hideChanges]="hideChanges"
                [user]="me"
                [disabled]="disabled"
                (changed)="contentChanged()"
                [(data)]="inputs[item.inputId(i)]"
              ></ice>
            </div>
          </div>
          <div class="column">
              <div *ngFor="let item of columnBoxes[2]"  class="behavior">
                  <div class="behavior-title">{{item.title}}</div>
                  <ice

                  id="{{item.inputId(i)}}"
                  [hideChanges]="hideChanges"
                  [user]="me"
                  [disabled]="disabled"
                  (changed)="contentChanged()"
                  [(data)]="inputs[item.inputId(i)]"
                ></ice>
              </div>
          </div>
      </div>

    </div>
  </div>


</div>

<div
  class="template-footer"
  *ngIf="contentData.instructions"
  [innerHtml]="contentData.instructions | safehtml"
></div>

<ckeditor class="ckeditor" [editor]="Editor" [(ngModel)]="message"></ckeditor>

<module-nav
  [action]="action"
  (feedback)="feedbackClicked($event)"
  [submitting]="submitting"
  >
</module-nav>
