<div id="measureWidth" #widthContainer></div>

<div *ngIf="sheet" class="hot-container" [hidden]="!isRendered">
  <div class="download-xls" *ngIf="contentData.requireFeedback">
    <a (click)="exportXls()" download><i class="fa" [class.fa-file-excel-o]="!downloadProgress" [class.fa-spinner]="downloadProgress" [class.fa-spin]="downloadProgress" aria-hidden="true"></i> Download Excel file</a>
  </div>
  <hot-table
    #hot
    class="hot"
    [settings]="settings"
   >
  </hot-table>
</div>

<div class="render-preview" *ngIf="!isRendered">
  <table>
    <tr *ngFor="let row of previewRows">
      <td *ngFor="let col of previewCols"></td>
    </tr>
  </table>
  <div class="loading-overlay">
    <div class="overlay-content">
      Loading spreadsheet <span class="fa fa-pulse fa-spinner"></span>
    </div>
  </div>
</div>

<module-feedback *ngIf="contentData.requireFeedback; else nav"></module-feedback>
<ng-template #nav>
  <module-nav *ngIf="!disabled" [step]="data" [action]="action"></module-nav>
</ng-template>