<div id="measureWidth" [class.isMenuVisible]="isMenuVisible" #widthContainer></div>

<div *ngIf="sheet" class="hot-container" [hidden]="!isRendered">
  <hot-table
    #hot
    class="hot"
    [settings]="settings"
   >
  </hot-table>
</div>

<div class="render-preview" *ngIf="!isRendered">
  <table>
    <tr *ngFor="let row of renderedRows">
      <td *ngFor="let col of renderedCols"></td>
    </tr>
  </table>
  <div class="loading-overlay">
    <div class="overlay-content">
      Loading spreadsheet <span class="fa fa-pulse fa-spinner"></span>
    </div>
  </div>
</div>

<module-feedback *ngIf="contentData.requireFeedback; else nav"></module-feedback>
<ng-template #nav>
  <module-nav *ngIf="!disabled" [step]="data"></module-nav>
</ng-template>