::ng-deep .handsontable
    font-size: 14px
    width: 100%

    td.editable
        background-color: lightyellow
        color: blue

    td.invalidCell
        background-color: red

    td.percent
        \&:after
            content: '%'

    td.bold
        font-weight: bold

    td.section
        background-color: black
        color: white
        font-weight: bold

    td.hot-saving
        position: relative

        &:before
            -webkit-animation: fa-spin 2s infinite linear
            animation: fa-spin 2s infinite linear
            content: "\f110"
            font-family: FontAwesome
            font-size: 15px
            position: absolute
            top: 2px
            left: 2px
            opacity: 0.3

.render-preview
    position: relative

    table
        width: 100%
        opacity: 0.15

        td
            border: 1px solid #aaa
            height: 24px

    .loading-overlay
        position: absolute
        height: 50%
        min-height: 1.5em
        max-height: 30vh
        top: 0
        left: 0
        width: 100%
        text-align: center
        font-size: 2em

        .overlay-content
            position: absolute
            bottom: 0
            left: 0
            width: 100%